.DM__Top .ChatNav,
div .ChatNav {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
}
.ChatNav, .CN__Left, .CN__Right {
    display: flex;
    align-items: center;
}
.ChatNav .CN__Left  {
    width: calc(100% - 120px);
    height: max-content;
}
.ChatNav .CN__Left.group {
    width: calc(100% - 40px);
}
.CN__Left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}
.CN__Right {
    width: max-content;
    height: max-content;
}
.svgDiv {
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.svgDiv:hover {
    background-color: #aeaeae;
}
.svgDiv.margin {
    margin-left: 10px;
}
.CN__Left .CN__Dets {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.CN__Dets .name {
    font-size: 14px;
    font-weight: 600;
    color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.CN__Dets .CND__bottom {
    font-size: 12px;
    color: #aeaeae;
    margin-top: 5px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ChatNav div .cN-icon {
    width: 20px;
    height: 20px;
    color: white !important;
}