div .StatusNull {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SN-top {
    width: max-content;
    height: auto;
}
.SN-top img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.StatusNull h2 {
    font-size: 20px;
    font-weight: 700;
}
.SN-add {
    margin-top: 30px;
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SN-add img {
    margin-top: 30px;
    width: 100px;
    height: 100px;
}
.SN-add h1 {
    font-size: 25px;
    font-weight: 700;
}
@media screen and (max-width: 450px) {
    .StatusNull h2, .SN-add h1 {
        font-size: 18px;
    }
}