
div .SH__Error {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
}
.SH__Error h2 {
    font-size: 30px;
    color: red;
    font-weight: 800;
}
.SH__Error .button {
    width: max-content;
    height: auto;
    margin-top: 0px;
    background-color: #0b3782;
    color: white;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 20px;
    cursor: pointer;
}
.SH__Error .button:hover {
    background-color: #2760c4;
}