.Alerter {
    max-width: 280px !important;
    min-width: 250px !important;
    width: max-content !important;
    height: auto !important;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 99999999;
    transition: transform .2s ease-in-out;
    top: 15px;
    right: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.15);
}
.Alerter.terminate {
    transform: translateX(120%);
}
.Alerter.prompt {
    transform: translateX(0px);
}
.Alerter-container {
    width: auto;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.alerter-svg {
    width: 30px;
    height: 30px;
}
.alerter-svg.danger {
    color: rgb(238, 55, 55);
}
.alerter-svg.check {
    color: rgb(123, 251, 123);
}
.Alerter-container span {
    width: calc(100% - 45px);
    overflow-wrap: break-word;
    margin-left: 10px;
    line-height: 1.4rem;
    display: inline-block;
    font-size: 14px;
}