div .chats {
    width: 100%;
    height: 100%;
    background: #062863;
    overflow: hidden;
    position: relative;
}
.chats .chats__Loading,
.chats .chats__Error {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chats__Error-div {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chats__Error-div svg {
    width: 25px;
    height: 25px;
}
.chats__Error-div h2 {
    margin: 15px 0;
    font-size: 25px;
    color: red;
    font-weight: bold;
}
.chats > div, .chats ul {
    width: 100%;
    height: 100%;
    display: flex;
}
.chat-home-icons {
    width: 15px;
    height: 15px;
    color: white;
}
.chats > div {
    justify-content: center;
    align-items: center;
}
.chats ul {
    flex-direction: column;
    list-style: none;
    margin: 0px !important;
    padding: 1px !important;
    overflow-y: auto;
}
.chatsLists li {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 12px 6px;
    border-bottom: .7px solid #0f387d;
}
.chatsLists li > div {
    display: flex;
    flex-direction: column;
}
.chats__Img {
    width: 50px;
    height: 50px;
}
.chats__Img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.chatsLists li .chatsDets {
    width: calc(100% - 70px);
    margin-left: 7px;
    height: auto;
}
.chatsDets > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chats__Bottom {
    margin-top: 5px;
}
.chats__Tops .h3 {
    font-size: 15px;
    font-weight: 600;
    color: white;
    width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
.chats__Tops .span {
    font-size: 11px;
    color: rgb(149, 228, 246);
    margin-left: 5px;
    font-weight: 700;
}
.chats__Bottom .span {
    width: calc(100% - 40px);
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    color: #aeaeae;
    display: inline-block;
    text-overflow: ellipsis;
}
.span.typing {
    color: rgb(149, 228, 246);
}
.span .Text {
    width: 100%;
    display: flex;
    align-items: center;
}
.Text svg {
    width: 10px;
    height: 10px;
}
.Text span {
    width: calc(100% - 13px);
    margin-left: 3px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    color: #aeaeae;
    display: inline-block;
    text-overflow: ellipsis;
}
.unreadMessages {
    /* margin-top: 5px; */
    width: max-content;
    height: max-content;
    background-color: rgb(149, 228, 246);
    /* display: flex;
    justify-content: center; */
    box-sizing: border-box;
    padding: 5px 7px;
    /* padding-bottom: 8px; */
    border-radius: 10px;
    margin-left: 3px;
}
.unreadMessages span {
    font-size: 11px;
    color: white;
    font-weight: 700;
}
.statusAbsolutes {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: max-content !important;
    height: max-content !important;
}
.statusAbsolutes > div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2760c4;
    /* margin-top: 15px; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusAbsolutes > div label {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.statusAbsolutes svg {
    width: 30px;
    height: 30px;
}
div .addUser {
    width: 100%;
    height: auto;
    max-height: 100%;
}
.addUser, .aU-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addUser .aU-top {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: calc(100% - 40px) 30px;
    column-gap: 10px;
    margin-top: 15px;
    align-items: center;
}
.aU-top > div {
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aU-top > div svg {
    width: 18px;
    height: 18px;
}
.aU-top input {
    background: none;
    outline: none;
    border: 1px solid #e2e8f0;
    box-sizing: border-box;
    padding: 6px;
    height: 100%;
    color: #A5A4A4;
    font-size: 14px;
}
.aU-top input::placeholder {
    color: #A5A4A4;
    font-size: 14px;
}
div .aU-loading {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div .aU-main {
    width: 100%;
    height: calc(100% - 45px);
    margin-top: 5px;
    overflow-y: auto;
    box-sizing: border-box;
    padding-right: 10px;
}
.aU-main > h3 {
    margin: 10px 0px;
    font-size: 15px;
    font-size: bold;
}
.aU-main > div {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    padding-right: 5px;
    height: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: .6px solid #e2e8f0;
}
.aU-li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
div .aU-txt {
    width: calc(100% - 50px);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.aU-txt h2 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    width: calc(100% - 3px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.aU-txt span {
    margin-top: 3px;
    font-size: 13px;
    width: calc(100% - 3px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}