div .Groups {
    width: 100%;
    height: 100%;
    background: #062863;
    overflow: hidden;
    position: relative;
}
.Groups .Groups__Loading,
.Groups .Groups__Error {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Groups__Error-div {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Groups__Error-div svg {
    width: 25px;
    height: 25px;
}
.Groups__Error-div h2 {
    margin: 15px 0;
    font-size: 25px;
    color: red;
    font-weight: bold;
}
.Groups > div, .Groups ul {
    width: 100%;
    height: 100%;
    display: flex;
}
.Groups > div {
    justify-content: center;
    align-items: center;
}
.Groups ul {
    flex-direction: column;
    list-style: none;
    margin: 0px !important;
    padding: 1px !important;
    overflow-y: auto;
}
.GroupsLists li {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 12px 6px;
    border-bottom: .7px solid #0f387d;
}
.GroupsLists li > div {
    display: flex;
    flex-direction: column;
}
.Groups__Img {
    width: 50px;
    height: 50px;
}
.Groups__Img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.GroupsLists li .GroupsDets {
    width: calc(100% - 70px);
    margin-left: 7px;
    height: auto;
}
.GroupsDets > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Groups__Bottom {
    margin-top: 5px;
}
.Groups__Tops .h3 {
    font-size: 15px;
    font-weight: 600;
    color: white;
    width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
.Groups__Tops .span {
    font-size: 11px;
    color: rgb(149, 228, 246);
    margin-left: 5px;
    font-weight: 700;
}
.Groups__Bottom .span {
    width: calc(100% - 35px);
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    color: #aeaeae;
    display: inline-block;
    text-overflow: ellipsis;
}
.span.typing {
    color: rgb(149, 228, 246);
}
.span .Text {
    width: 100%;
    display: flex;
    align-items: center;
}
.Text svg {
    width: 10px;
    height: 10px;
}
.Text span {
    width: calc(100% - 13px);
    margin-left: 3px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    color: #aeaeae;
    display: inline-block;
    text-overflow: ellipsis;
}
.unreadMessages {
    width: max-content;
    height: max-content;
    background-color: rgb(149, 228, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 7px;
    border-radius: 10px;
    margin-left: 3px;
}
.unreadMessages span {
    font-size: 11px;
    color: white;
    font-weight: 700;
}
.statusAbsolutes {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: max-content !important;
    height: max-content !important;
}
.group-home-icons {
    width: 15px;
    height: 15px;
    color: white;
}
.statusAbsolutes > div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2760c4;
    /* margin-top: 15px; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusAbsolutes > div label {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.statusAbsolutes svg {
    width: 30px;
    height: 30px;
}
div .createGroup {
    width: 100%;
    height: 100%;
}
div .cG-loading {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div .cG-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cG-wrapper > div,
.cG-main > div {
    width: 100%;
}
.cG-top {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cG-top h2 {
    font-size: 15px;
    font-weight: bold;
}
.cG-top > div svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
div .cG-main {
    height: calc(100% - 30px);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}
.cG-edits {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cG-img-edit {
    width: 65px;
    height: 65px;
    position: relative;
}
.cG-img-edit img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.cG-img-edit label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    background-color: rgb(77, 223, 152);
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    right: 0px;
    bottom: 0px;
}
.cG-img-edit label svg {
    width: 15px;
    height: 15px;
}
.cG-img-edit input {
    display: none;
}
.cG-edits .cGE-input {
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border: 1px solid #A5A4A4;
    border-radius: 7px;
    font-size: 14px;
}
.cGE-input > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}
.cGE-inputers > input {
    width: calc(100% - 40px);
    height: 100%;
    font-size: 14px;
    background: none;
    outline: none;
    color: black;
    border: none;
}
.cGE-inputers > input::placeholder {
    font-size: 14px;
    color: black;
}
.cGE-input input:focus {
    border: 1px solid #2760c4;
}
.cGE-inputers .cGE-inputers-emoji {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.cGE-inputers-emoji svg {
    width: 20px;
    height: 20px;
}
.cGE-inputers .cGE-emoji {
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0px;
    top: 105%;
    z-index: 999999999;
    background: white;
}
.cGE-inputers.descrip {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #A5A4A4;
    border-radius: 7px;
    font-size: 14px;
    margin-top: 15px;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}
.cGE-inputers.descrip input {
    /* margin-top: */
    width: 100% !important;
}
.cG-main .cG-selected,
.cG-selected > div {
    width: 100%;
    height: auto;
}
.cG-selected {
    overflow-x: auto;
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 1px solid #e2e8f0;
}
.cGS {
    width: auto;
    display: flex;
    align-items: center;
}
.cGS-div {
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
}
.cGS > div:first-child {
    margin-left: 0px;
}
.cGS-img {
    width: 45px;
    height: 45px;
    position: relative;
}
.cGS-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.cGS-img > div {
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aeaeae;
}
.cGS-img > div svg {
    width: 12px;
    height: 12px;
}
.cGS-div span {
    margin-top: 5px;
    color: #A5A4A4;
    font-size: 11px;
    width: calc(100% - 0px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}
div .cG-lists {
    margin-top: 10px;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding-right: 10px;
    padding-bottom: 60px;
}
div .cG-lists.full {
    height: calc(100% - 160px);
}
div .cG-lists {
    height: calc(100% - 250px);
}
.cG-li {
    display: grid;
    box-sizing: border-box;
    padding: 5px 0px;
    grid-template-columns: 35px calc(100% - 90px) 30px;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;
    border-bottom: .5px solid #e2e8f0;
}
.cG-li img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.cG-li span {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cG-selected {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(77, 223, 152); */
}
.cG-selected svg {
    width: 20px;
    height: 20px;
    color: white !important;
}
.cG-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
    box-sizing: border-box;
    padding: 10px 0px;
    background-color: #FFFFFF;
    border-top: 1px solid #e2e8f0;
    border-radius: 0px 0px 10px 10px;
}
.cG-button > div {
    width: 80px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(77, 223, 152);
}