div .SH {
    width: 100%;
    height: 100%;
    background: #062863;
    position: relative;
}
div .SH__Wrapper,
.SH__Wrapper > div,
.SH__Main >div,
.SH__Main > div ul,
.SH__Main > div ul li {
    width: 100%;
    height: auto;
}
div .SH__Wrapper {
    overflow-y: auto;
    height: 100% !important;
}
div .SH__Loading {
    width: 100%;
    height: 100%;
}
.SH__Top {
    display: flex;
    align-items: center;
}
.shT__Img > div, .SH__Loading,
.absoluteDivs > div, .wS__Icon,
.statusAbsolutes > div,
.statusAbsolutes > div label,
.wS__Main, .wS__Send {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sH__Txt, .absoluteDivs,
.SH__Main > div,
.SH__Main > div ul,
.statusAbsolutes {
    display: flex;
    flex-direction: column;
}
.shT__Img {
    width: 50px;
    height: 50px;
    position: relative;
}
.shT__Img img,
.status__Img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.shT__Img div {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(35, 80, 228);
}
.shT__Img div svg {
    width: 13px;
    height: 13px;
}
.sH__Txt {
    margin-left: 10px;
}
.SH__Main {
    margin-top: 10px;
}
.SH__Top, .status__List {
    box-sizing: border-box;
    padding: 10px;
}
.status__List {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: .3px solid #0b3782;
}
.status__Img {
    width: 50px;
    height: 50px;
}
.SH .big {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}
.SH .small {
    font-size: 13.5px;
    color: #A5A4A4;
    margin-top: 5px;
}
.SH__Main > div > span {
    padding: 0px 15px;
}
.SH__Main ul {
    list-style: none;
    margin: 0px;
    padding: 0;
}
.absoluteDivs {
    width: max-content !important;
    height: auto;
    position: fixed;
    z-index: 99;
    left: 250px;
    bottom: 20px;
}
.absoluteDivs div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2760c4;
    margin-top: 15px;
    cursor: pointer;
}
.absoluteDivs svg {
    width: 28px;
    height: 28px;
}
.SH__Main > div > span {
    margin-top: 10px !important;
}
.status__Img > div,
.status__Img > div > div,
.status__Img > div > div > div,
.status__Img > div > div > div > div,
div img {
    width: 100%;
    height: 100%;
}
.statusAbsolutes {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: max-content !important;
    height: max-content !important;
}
.status-home-icons {
    width: 18px;
    height: 18px;
    color: white;
}
.statusAbsolutes > div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2760c4;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusAbsolutes > div label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusAbsolutes svg {
    width: 30px;
    height: 30px;
}
.statusAbsolutes input {
    display:none;
}
.status__Img > div > div > div > div {
    margin-top: -108% !important;
}
div .uploadImage {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uploadImage .uI-img {
    width: 95%;
    height: auto;

}
.uI-img img {
    width: 100%;
    height: auto;
    max-height: 100%;
}
div .uploadText {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    background: rgba(27,27,27,.01);
    bottom: 0px;
    left: 0px;
}
div .uT-div {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.uT-div textarea {
    margin-top: 20px;
    width: calc(100% - 40px);
    height: auto;
    min-height: 50px;
    max-height: 100px;
    overflow-y:auto;
    border: 1px solid #e2e8f0;
    outline: none;
    background: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5rem;
}
.uT-div > div {
    width: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status-emoji {
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, .2);
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.status-emoji.fixed {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 999999999;
}

.wUB__Emoji {
    width: max-content;
    height: auto;
    position: fixed;
    bottom: 90px;
    right: 10px;
    z-index: 9999999;
}
.status__Emoji__Wrapper,
.wUB__Emoji__Wrapper {
    width: 290px;
    height: 310px;
}
.status__Emoji__Wrapper {
    margin-bottom: 30px;
    margin-right: 10px;
}
.uT-div > div svg {
    width: 20px;
    height: 20px;
}
.uI-post {
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    background-color: #0b3782;
    display: flex;
    justify-content: center;
}
.uI-post:hover {
    background-color: #2760c4;
}
div .Write__Status {
    width: 100%;
    height: 100%;
    background-color: #062863;
}
.Write__Status .wS {
    width: 100%;
    height: 100%;
    /* position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px; */
    background-color: #062863;
}
.wS > div {
    width: 100%;
    height: 100%;
    position: relative;
}
.wS__Wrapper > div {
    width: 100%;
    height: auto;
}
.wS__Top {
    /* position: absolute;
    top: 0px;
    left: 0px; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(27,27,27,.1);
    box-sizing: border-box;
    padding: 10px;
}
.wS__Right {
    width: max-content;
    display:flex;
    align-items: center;
}
.wS__Right > div {
    margin-left: 15px;
}
.wS__Icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.wS__Icon svg {
    width: 20px;
    height: 20px;
}
.wS__Main {
    height: calc(100% - 50px) !important;
    overflow-y: auto;
    scrollbar-width: thin;
    box-sizing: border-box;
    padding: 10px;
}
.wS__Main .wS__Main__Img {
    width: 100%;
    height: 100%;
    background: rgba(27,27,27,.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wS__Main__Img img {
    width: auto;
    min-width: min(300px, 100%);
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.wS__Main::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.wS__Main textarea {
    width: 100%;
    height: auto;
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    line-height: 1.3rem;
    box-sizing: border-box;
    padding: 10px;
}
.wS__Main > div {
    width: max-content;
    height: auto;
    border: none !important;
    outline: none;
    background-color: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.3rem;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}
.wS__Base, .wS__UploadImg__Base {
    position:absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(27,27,27,.2);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.wS__UploadImg__Base .wUB__Top__Wrapper {
    width: 100%;
    background-color: #062863;
    height: auto;
    display: flex;
    align-items: center;
}
.wUB__Top__Wrapper .status-home-icons {
    width: 25px;
    height: 25px;
}
.wUB__Top__Wrapper textarea {
    color: white;
    width: calc(100% - 88px);
    height: auto;
    max-height: 150px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 10px;
    overflow-y: auto;
    background-color: rgb(35, 80, 228);
    color: white;
    font-size: 14px;
    scrollbar-width: thin;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.wUB__Top__Wrapper textarea::placeholder {
    color: white;
    font-size: 14px;
}
.wUB__Top__Wrapper textarea::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.wUB__Top__Wrapper .wS__Send {
    margin-left: 10px;
}
.wS__Send {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(35, 80, 228);
    /* background-color: #2760c4; */
}
.wS__Send svg {
    width: 22px;
    height: 22px;
}
.wS__Edit svg {
    width: 18px;
    height: 18px;
}
@media screen and (max-width: 800px) {
    .absoluteDivs, .statusAbsolutes {
        left: calc(100% - 70px);
    }
}