.app {
    width: 100%;
    height: 100vh;
    /* background: #062863; */
    /* overflow-y: hidden; */
    box-sizing: border-box;
    /* font-family: U8, sans-serif; */
}
.svgs-black {
    color: black !important;
}
.app > div {
    width: 100%;
    height: 100%;
}
.App > div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

.main > div {
    height: 100%;
    box-sizing: border-box;
}


div .Left {
    width: 320px;
}
div .Right {
    width: calc(100% - 320px);
}


@media screen and (max-width: 800px) {
    div .Left.true, div .Right.true {
        width: 100%;
    }
    .Right.false, .Left.false {
        width: 0px;
        display: none;
    }
}