.Message__Media .Media {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.Media.One > div {
    width: 100%;
    height: 100%;
}
.Media.notOne > div {
    width: 50%;
    height: 100%;
}
.columnFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.columnFlex > div, .columnFlex img {
    width: calc(100% - 5px);
    height: calc(50% - 5px);
    object-fit: cover;
    border-radius: 10px;
}
.One img, .columnFlex > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.plain img {
    width: calc(100% - 5px);
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.lst__Img {
    position: relative;
}
.absoluteDiv {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 550;
}
div.Media__Video,
.Media__Video > div
.videoCanvas img {
    width: 100%;
    height: 100%;
}
