.circularText {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.circularText > div {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.circularText span {
    color: white;
    font-size: 11px;
    overflow: hidden;
}
.inner-img {
    width: 40px;
    height: 40px;
}
.inner-img img {
    border-radius: 50%;
}